@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.menu {
  display: flex;
  gap: 55px;
  list-style: none;
  margin: 0 auto;
  width: 777px;
}

.menu-link {
  text-decoration: none;
  /* без риски */
  text-transform: uppercase;
  color: mediumaquamarine;
  font-size: 19px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-link:hover {
  color: rgb(47, 0, 255);
}

.main-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.main-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  size: 100px;
}

.vaids-item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vaids-link {
  text-decoration: none;
}

.username {
  font-family: Arial, Helvetica, sans-serif;
}

.asked-ansver {
  font-family: "Roboto Condensed", sans-serif;
}

.birthday {
  font-family: cursive;
}

.store {
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.vaids-of-lego {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.main-stroctoor {
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.special {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.super-specisl {
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.focus-in-expand-fwd {
  animation: focus-in-expand-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}

.rotate-scale-up {
  animation: rotate-scale-up 2s linear both;
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }

  50% {
    transform: scale(2) rotateZ(180deg);
  }

  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.had {
  background-image: url("https://png.pngtree.com/background/20230610/original/pngtree-lego-bricks-that-are-put-in-a-pile-picture-image_3020983.jpg ");
}

.skin {
  margin-top: -22px;
}

.incide-img {
  /* колір шривту */
  position: absolute;
  color: white;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 13px;
}

.body {
  /* задній фон */
  animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }

  20% {
    background: #b22cff;
  }

  40% {
    background: #ea2222;
  }

  60% {
    background: #f5be10;
  }

  80% {
    background: #3bd80d;
  }

  100% {
    background: rgb(0, 110, 255);
  }
}

.chack {
  /*картинка по середині*/
  display: block;
  margin: 0 auto;
}

.footer-text {
  font-family: "Caveat", cursive;
  font-size: 20px;
}

.incide-img-two {
  margin-top: -333px;
  margin-left: -466px;
  font-size: 33px;
}

.relative {
  position: relative;
}

.incide-p {
  margin-left: 200px;
  font-size: 22px;
}

.incide-img-three {
  margin-top: -300px;
  margin-left: 777px;
  font-size: 24px;
}

.incide-p-two {
  margin-left: 877px;
  font-size: 18px;
}

.form-button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: deepskyblue;
}

.color {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.red {
  background-color: red;
}

.bllue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}